.login {
    text-align: center;
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    font-size: calc(10px + 2vmin);
    color: white;
    flex-direction: column;
    align-items: center;
}